body{
    margin: 0px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: rgb(83, 226, 226);
}

div.logo{
    margin: auto;
}

div.informacion{
    width: 50%;
    text-align: center;
}

h1{
    font-size: 24px;
    color: red;
    margin: 5px;
}

h2{
    font-size: 22px;
    color: blue;
    margin: 5px;
}

p.info{
    margin: 5px;
}
