.container{
    /*width: 400px;*/
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.element{
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 1px solid black;
}